:root {
 --color-scheme: black;
 --bg: #000000;
 --accent-bg: #2b2b2b;
  --text: #dcdcdc;
  --text-light: #ababab;
 --accent: Blue;
  --accent-hover: #ffe099;
 --accent-text: var(--bg);
 --code: #f06292;
  --preformatted: #ccc;
 --disabled: #111;
}

