html, body {
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #fff;
  font-family: Arial, sans-serif;
  text-align: center;
}

header {
  background-color: #2C2D2D;
  color: Red;
  text-align: center;
  padding: 0.3em 0;      /* thin height */
  margin: 0;
  line-height: 1;        /* tighten blue bar */
}

header h1 {
  margin: 0;
  padding: 0;
  font-size: 2em;
  line-height: 1.2em;    /* vertically centered text */
}
