:root {
 --color-scheme: black;
 --bg: #000000;
 --accent-bg: #2b2b2b;
  --text: Red;
  --text-light: #ababab;
 --accent: Blue;
  --accent-hover: #ffe099;
 --accent-text: var(--bg);
 --code: #f06292;
  --preformatted: #ccc;
 --disabled: #111;
}

header {
  background-color: Grey;
  color: Red;
  text-align: center;
  padding: 0.3em 0;      /* thin height */
  margin: 0;
  line-height: 1;        /* tighten blue bar */
}

header h1 {
  margin: 0;
  padding: 0;
  font-size: 2em;
  line-height: 1.2em;    /* vertically centered text */
}
