html, body {
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #fff;
  font-family: Arial, sans-serif;
  text-align: center;
}

header {
  background-color: #2C2D2D;
  color: Red;
  text-align: center;
  padding: 0.3em 0;      /* thin height */
  margin: 0;
  line-height: 1;        /* tighten blue bar */
}

header h1 {
  margin: 0;
  padding: 0;
  font-size: 3em;
  line-height: 1.5em;    /* vertically centered text */
}
header h2 {
  background-color: black;
  color: white;
  border: 1px solid #333;
  border-radius: 6px;
  padding: 2px 0 8px 0;
  margin: 5px auto 8px auto;   /* tiny space under header */
  width: 40%;
  max-width: 350px;
}
.container {
  position: relative; /* Set the parent to relative */
  height: 400px;     /* Set a height for the container */
}

.text {
  position: absolute; /* Position the text absolutely */
  bottom: 0;         /* Align to the bottom */
  left: 50%;         /* Center horizontally */
  transform: translateX(-50%); /* Adjust for centering */
}
