:root {
  color-scheme: dark;
  --bg: #212121;
  --accent-bg: #2b2b2b;
  --text: #dcdcdc;
  --text-light: #ababab;
  --accent: #ffb300;
  --accent-hover: #ffe099;
  --accent-text: var(--bg);
  --code: #f06292;
  --preformatted: #ccc;
  --disabled: #111;
}

* Header (blue banner) */
header {
  background-color: #004aad;
  color: #fff;
  text-align: center;
  padding: 0.3em 0;      /* thin height */
  margin: 0;
  line-height: 1;        /* tighten blue bar */
}
